USE [master]
GO
/****** Objeto: Database [ComercioArtesDB] Fecha de script: 24/9/2026 21:14:32 ******/
CREATE DATABASE [ComercioArtesDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ComercioArtesDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\ComercioArtesDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ComercioArtesDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\ComercioArtesDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ComercioArtesDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ComercioArtesDB]
GO
/****** Objeto: Table [dbo].[Artistas] Fecha de script: 24/9/2026 21:14:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artistas](
	[ArtistaID] [int] NOT NULL,
	[Seudonimo] [varchar](100) NULL,
	[Biografia] [nvarchar](max) NULL,
	[SitioWeb] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ArtistaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Bitacora] Fecha de script: 24/9/2026 21:14:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[BitacoraID] [int] IDENTITY(1,1) NOT NULL,
	[TablaAfectada] [varchar](100) NOT NULL,
	[Accion] [varchar](20) NOT NULL,
	[UsuarioSQL] [varchar](100) NOT NULL,
	[HostName] [varchar](100) NOT NULL,
	[FechaRegistro] [datetime2](7) NOT NULL,
	[LlavePrimaria] [varchar](100) NULL,
	[DetalleCambio] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[BitacoraID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Categorias] Fecha de script: 24/9/2026 21:14:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[CategoriaID] [int] IDENTITY(1,1) NOT NULL,
	[NombreCategoria] [varchar](100) NOT NULL,
	[Descripcion] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NombreCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Compradores] Fecha de script: 24/9/2026 21:14:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compradores](
	[CompradorID] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[Telefono] [varchar](50) NULL,
	[Direccion] [varchar](255) NULL,
	[MetodoPago] [varchar](50) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CompradorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DetallesPedido] Fecha de script: 24/9/2026 21:14:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallesPedido](
	[DetalleID] [int] IDENTITY(1,1) NOT NULL,
	[PedidoID] [int] NOT NULL,
	[ObraID] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DetalleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[EstadosPedido] Fecha de script: 24/9/2026 21:14:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadosPedido](
	[EstadoPedidoID] [int] IDENTITY(1,1) NOT NULL,
	[DescripcionEstado] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EstadoPedidoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[DescripcionEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Galerias] Fecha de script: 24/9/2026 21:14:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Galerias](
	[GaleriaID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Ubicacion] [nvarchar](200) NULL,
	[Telefono] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[GaleriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[GaleriasObras] Fecha de script: 24/9/2026 21:14:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GaleriasObras](
	[IdGaleria] [int] NOT NULL,
	[IdObra] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdGaleria] ASC,
	[IdObra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[ObrasArte] Fecha de script: 24/9/2026 21:14:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ObrasArte](
	[ObraID] [int] IDENTITY(1,1) NOT NULL,
	[ArtistaID] [int] NOT NULL,
	[CategoriaID] [int] NULL,
	[Titulo] [varchar](150) NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[Precio] [decimal](18, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[UrlImagen] [varchar](255) NULL,
	[FechaCreacionObra] [date] NULL,
	[FechaPublicacion] [datetime2](7) NULL,
	[Disponible] [bit] NULL,
	[ImagenURL] [varchar](255) NULL,
	[Tecnica] [varchar](100) NOT NULL,
	[Anio] [int] NOT NULL,
	[Dimensiones] [varchar](100) NULL,
	[Estado] [varchar](50) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ObraID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Pedidos] Fecha de script: 24/9/2026 21:14:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos](
	[PedidoID] [int] IDENTITY(1,1) NOT NULL,
	[CompradorID] [int] NOT NULL,
	[FechaPedido] [datetime2](7) NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[EstadoPedidoID] [int] NOT NULL,
	[DireccionEnvio] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[PedidoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Roles] Fecha de script: 24/9/2026 21:14:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RolID] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol] [varchar](50) NOT NULL,
	[Descripcion] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[RolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NombreRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuarios] Fecha de script: 24/9/2026 21:14:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[UsuarioID] [int] IDENTITY(1,1) NOT NULL,
	[RolID] [int] NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
	[Email] [varchar](150) NOT NULL,
	[PasswordHash] [varbinary](64) NOT NULL,
	[Salt] [uniqueidentifier] NULL,
	[Telefono] [varchar](20) NULL,
	[FechaRegistro] [datetime2](7) NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bitacora] ADD  DEFAULT (suser_sname()) FOR [UsuarioSQL]
GO
ALTER TABLE [dbo].[Bitacora] ADD  DEFAULT (host_name()) FOR [HostName]
GO
ALTER TABLE [dbo].[Bitacora] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Compradores] ADD  DEFAULT ('TarjetaCredito') FOR [MetodoPago]
GO
ALTER TABLE [dbo].[Compradores] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[ObrasArte] ADD  DEFAULT ((1)) FOR [Stock]
GO
ALTER TABLE [dbo].[ObrasArte] ADD  DEFAULT (getdate()) FOR [FechaPublicacion]
GO
ALTER TABLE [dbo].[ObrasArte] ADD  DEFAULT ((1)) FOR [Disponible]
GO
ALTER TABLE [dbo].[ObrasArte] ADD  DEFAULT ('Óleo') FOR [Tecnica]
GO
ALTER TABLE [dbo].[ObrasArte] ADD  DEFAULT ((2026)) FOR [Anio]
GO
ALTER TABLE [dbo].[ObrasArte] ADD  DEFAULT ('Disponible') FOR [Estado]
GO
ALTER TABLE [dbo].[ObrasArte] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Pedidos] ADD  DEFAULT (getdate()) FOR [FechaPedido]
GO
ALTER TABLE [dbo].[Pedidos] ADD  DEFAULT ((0.00)) FOR [Total]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (newid()) FOR [Salt]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Artistas]  WITH CHECK ADD  CONSTRAINT [FK_Artistas_Usuarios] FOREIGN KEY([ArtistaID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Artistas] CHECK CONSTRAINT [FK_Artistas_Usuarios]
GO
ALTER TABLE [dbo].[Compradores]  WITH CHECK ADD  CONSTRAINT [FK_Compradores_Usuarios] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[Compradores] CHECK CONSTRAINT [FK_Compradores_Usuarios]
GO
ALTER TABLE [dbo].[DetallesPedido]  WITH CHECK ADD  CONSTRAINT [FK_Detalles_Obras] FOREIGN KEY([ObraID])
REFERENCES [dbo].[ObrasArte] ([ObraID])
GO
ALTER TABLE [dbo].[DetallesPedido] CHECK CONSTRAINT [FK_Detalles_Obras]
GO
ALTER TABLE [dbo].[DetallesPedido]  WITH CHECK ADD  CONSTRAINT [FK_Detalles_Pedidos] FOREIGN KEY([PedidoID])
REFERENCES [dbo].[Pedidos] ([PedidoID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DetallesPedido] CHECK CONSTRAINT [FK_Detalles_Pedidos]
GO
ALTER TABLE [dbo].[GaleriasObras]  WITH CHECK ADD  CONSTRAINT [FK_GaleriasObras_Galerias] FOREIGN KEY([IdGaleria])
REFERENCES [dbo].[Galerias] ([GaleriaID])
GO
ALTER TABLE [dbo].[GaleriasObras] CHECK CONSTRAINT [FK_GaleriasObras_Galerias]
GO
ALTER TABLE [dbo].[GaleriasObras]  WITH CHECK ADD  CONSTRAINT [FK_GaleriasObras_ObrasArte] FOREIGN KEY([IdObra])
REFERENCES [dbo].[ObrasArte] ([ObraID])
GO
ALTER TABLE [dbo].[GaleriasObras] CHECK CONSTRAINT [FK_GaleriasObras_ObrasArte]
GO
ALTER TABLE [dbo].[ObrasArte]  WITH CHECK ADD  CONSTRAINT [FK_Obras_Artistas] FOREIGN KEY([ArtistaID])
REFERENCES [dbo].[Artistas] ([ArtistaID])
GO
ALTER TABLE [dbo].[ObrasArte] CHECK CONSTRAINT [FK_Obras_Artistas]
GO
ALTER TABLE [dbo].[ObrasArte]  WITH CHECK ADD  CONSTRAINT [FK_Obras_Categorias] FOREIGN KEY([CategoriaID])
REFERENCES [dbo].[Categorias] ([CategoriaID])
GO
ALTER TABLE [dbo].[ObrasArte] CHECK CONSTRAINT [FK_Obras_Categorias]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Pedidos_Compradores] FOREIGN KEY([CompradorID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [FK_Pedidos_Compradores]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Pedidos_Estados] FOREIGN KEY([EstadoPedidoID])
REFERENCES [dbo].[EstadosPedido] ([EstadoPedidoID])
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [FK_Pedidos_Estados]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Roles] FOREIGN KEY([RolID])
REFERENCES [dbo].[Roles] ([RolID])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Roles]
GO
ALTER TABLE [dbo].[DetallesPedido]  WITH CHECK ADD CHECK  (([Cantidad]>(0)))
GO
ALTER TABLE [dbo].[DetallesPedido]  WITH CHECK ADD CHECK  (([PrecioUnitario]>=(0)))
GO
ALTER TABLE [dbo].[ObrasArte]  WITH CHECK ADD CHECK  (([Precio]>=(0)))
GO
ALTER TABLE [dbo].[ObrasArte]  WITH CHECK ADD CHECK  (([Stock]>=(0)))
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD CHECK  (([Total]>=(0)))
GO
USE [master]
GO
